.home {
    width: 100vw;
    min-height: 100vh;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.period-1 {
    width: 100vw;
    height: auto;
    display: grid;
}